{% extends 'fieldset.html.twig' %}
{#
/**
 * @file
 * Theme override for the resource library widget.
 *
 * @see template_preprocess_fieldset()
 */
#}
{% macro resource_library_prefix(prefix) %}
  {% if prefix.empty_selection %}
    <p class="resource-library-widget-empty-text">{{ prefix }}</p>
  {% else %}
    {{ prefix }}
  {% endif %}
{% endmacro %}
{% set attributes = attributes.addClass('resource-library-widget') %}
{% set prefix = _self.resource_library_prefix(prefix) %}
